---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Metodologia from "../components/Metodologia.astro";
import Resultados from "../components/Resultados.astro";
import Testimonios from "../components/Testimonios.astro";
import Planes from "../components/Planes.astro";
---

<Layout title="Lima Fit Method | Transforma tu fisico">
  <main>
    <Hero />
    <Metodologia />
    <Resultados />
    <Testimonios />
    <Planes />
  </main>
</Layout>
